# Long-term Stock Predictor

In [1]:
import numpy as np
import pandas as pd
import random

from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base

import datetime as dt

%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [2]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ltsp')
connection = engine.connect()

# Check how many tickers in stocks table

In [3]:
tickers_stocks = pd.read_sql_query('SELECT ticker FROM stocks GROUP BY ticker',connection)
tickers_stocks = tickers_stocks['ticker'].tolist()
len(tickers_stocks)

5685

In [4]:
nasdaq = pd.read_sql_query('SELECT * FROM nasdaq',connection)
nasdaq.head()

,wdate,openv,high,low,closev,adj_close,volume
0,1971-02-05,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
1,1971-02-08,100.839996,100.839996,100.839996,100.839996,100.839996,0.0
2,1971-02-09,100.760002,100.760002,100.760002,100.760002,100.760002,0.0
3,1971-02-10,100.690002,100.690002,100.690002,100.690002,100.690002,0.0
4,1971-02-11,101.449997,101.449997,101.449997,101.449997,101.449997,0.0

In [5]:
snp500 = pd.read_sql_query('SELECT * FROM snp500',connection)
snp500.head()

,wdate,openv,high,low,closev,adj_close,volume
0,1970-01-02,92.059998,93.540001,91.790001,93.000000,93.000000,8050000.0
1,1970-01-05,93.000000,94.250000,92.529999,93.459999,93.459999,11490000.0
2,1970-01-06,93.459999,93.809998,92.129997,92.820000,92.820000,11460000.0
3,1970-01-07,92.820000,93.379997,91.930000,92.629997,92.629997,10010000.0
4,1970-01-08,92.629997,93.470001,91.989998,92.680000,92.680000,10670000.0

# Get ticker information from description table

In [6]:
desc = pd.read_sql_query('SELECT * FROM descriptions',connection)
tickers = desc['ticker'].unique()
print(f"Number of tickers: {len(tickers)}")
desc.head()

Number of tickers: 5685

,ticker,exchange,cname,sector,industry
0,PIH,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
1,PIHPP,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
2,TURN,NASDAQ,180 DEGREE CAPITAL CORP.,FINANCE,FINANCE/INVESTORS SERVICES
3,FLWS,NASDAQ,"1-800 FLOWERS.COM, INC.",CONSUMER SERVICES,OTHER SPECIALTY STORES
4,FCCY,NASDAQ,1ST CONSTITUTION BANCORP (NJ),FINANCE,SAVINGS INSTITUTIONS

In [7]:
tickers

array(['PIH', 'PIHPP', 'TURN', ..., 'ZTO', 'ZUO', 'ZYME'], dtype=object)

In [8]:
sectors = desc['sector'].unique()
sectors

array(['FINANCE', 'CONSUMER SERVICES', 'TECHNOLOGY', 'CAPITAL GOODS',
       'BASIC INDUSTRIES', 'HEALTH CARE', 'CONSUMER DURABLES', 'ENERGY',
       'MISCELLANEOUS', 'N/A', 'PUBLIC UTILITIES', 'TRANSPORTATION',
       'CONSUMER NON-DURABLES'], dtype=object)

In [9]:
exchs = desc['exchange'].unique()
exchs

array(['NASDAQ', 'NYSE'], dtype=object)

In [10]:
industries = desc['industry'].unique()
industries

array(['PROPERTY-CASUALTY INSURERS', 'FINANCE/INVESTORS SERVICES',
       'OTHER SPECIALTY STORES', 'SAVINGS INSTITUTIONS', 'MAJOR BANKS',
       'COMPUTER SOFTWARE: PROGRAMMING, DATA PROCESSING',
       'COMPUTER SOFTWARE: PREPACKAGED SOFTWARE',
       'DIVERSIFIED COMMERCIAL SERVICES', 'HOMEBUILDING',
       'MAJOR CHEMICALS', 'INDUSTRIAL MACHINERY/COMPONENTS',
       'MAJOR PHARMACEUTICALS', 'TELECOMMUNICATIONS EQUIPMENT',
       'MEDICAL/DENTAL INSTRUMENTS', 'OIL & GAS PRODUCTION',
       'SEMICONDUCTORS', 'MULTI-SECTOR COMPANIES', 'MEDICAL SPECIALITIES',
       'BIOTECHNOLOGY: LABORATORY ANALYTICAL INSTRUMENTS',
       'BIOTECHNOLOGY: BIOLOGICAL PRODUCTS (NO DIAGNOSTIC SUBSTANCES)',
       'OTHER PHARMACEUTICALS',
       'BIOTECHNOLOGY: IN VITRO & IN VIVO DIAGNOSTIC SUBSTANCES', 'N/A',
       'EDP SERVICES', 'MEDICAL/NURSING SERVICES',
       'OFFICE EQUIPMENT/SUPPLIES/SERVICES', 'AUTO PARTS:O.E.M.',
       'WATER SUPPLY', 'ELECTRICAL PRODUCTS', 'AEROSPACE',
       'REAL ESTATE INVESTMENT TRUSTS', 'BUSINESS SERVICES',
       'AIR FREIGHT/DELIVERY SERVICES',
       'RADIO AND TELEVISION BROADCASTING AND COMMUNICATIONS EQUIPMENT',
       'ADVERTISING', 'FARMING/SEEDS/MILLING', 'INDUSTRIAL SPECIALTIES',
       'SERVICES-MISC. AMUSEMENT & RECREATION', 'COAL MINING',
       'COMPUTER COMMUNICATIONS EQUIPMENT', 'OTHER CONSUMER SERVICES',
       'CATALOG/SPECIALTY DISTRIBUTION', 'TELEVISION SERVICES',
       'RENTAL/LEASING COMPANIES', 'FINANCE: CONSUMER SERVICES',
       'LIFE INSURANCE', 'ORDNANCE AND ACCESSORIES', 'RAILROADS',
       'METAL FABRICATIONS', 'FOREST PRODUCTS', 'AUTOMOTIVE AFTERMARKET',
       'BIOTECHNOLOGY: COMMERCIAL PHYSICAL & BIOLOGICAL RESARCH', 'BANKS',
       'PROFESSIONAL SERVICES', 'COMPUTER MANUFACTURING',
       'HOME FURNISHINGS',
       'BIOTECHNOLOGY: ELECTROMEDICAL & ELECTROTHERAPEUTIC APPARATUS',
       'AGRICULTURAL CHEMICALS', 'TRUCKING FREIGHT/COURIER SERVICES',
       'MOTOR VEHICLES', 'RESTAURANTS', 'CLOTHING/SHOE/ACCESSORY STORES',
       'FINANCE COMPANIES', 'CONSTRUCTION/AG EQUIPMENT/TRUCKS',
       'MILITARY/GOVERNMENT/TECHNICAL', 'COMPUTER PERIPHERAL EQUIPMENT',
       'FOOD DISTRIBUTORS', 'ELECTRIC UTILITIES: CENTRAL',
       'TRANSPORTATION SERVICES', 'MISCELLANEOUS',
       'ELECTRONIC COMPONENTS', 'COMMERCIAL BANKS',
       'RETAIL: BUILDING MATERIALS', 'BROADCASTING',
       'INVESTMENT BANKERS/BROKERS/SERVICE', 'NATURAL GAS DISTRIBUTION',
       'REAL ESTATE', 'SPECIALTY FOODS', 'OIL REFINING/MARKETING',
       'HOTELS/RESORTS', 'BUILDING MATERIALS',
       'HOSPITAL/NURSING MANAGEMENT', 'INTEGRATED OIL COMPANIES',
       'PUBLISHING', 'MARINE TRANSPORTATION', 'TEXTILES',
       'ENVIRONMENTAL SERVICES', 'POLLUTION CONTROL EQUIPMENT',
       'BEVERAGES (PRODUCTION/DISTRIBUTION)', 'CONSUMER SPECIALTIES',
       'ALUMINUM', 'MEDICAL ELECTRONICS', 'APPAREL',
       'MOVIES/ENTERTAINMENT', 'ENGINEERING & CONSTRUCTION',
       'SPECIALTY CHEMICALS', 'DIVERSIFIED FINANCIAL SERVICES',
       'PRECIOUS METALS', 'CONTAINERS/PACKAGING',
       'CONSUMER ELECTRONICS/VIDEO CHAINS', 'RECREATIONAL PRODUCTS/TOYS',
       'SPECIALTY INSURERS', 'DEPARTMENT/SPECIALTY RETAIL STORES',
       'SHOE MANUFACTURING', 'OILFIELD SERVICES/EQUIPMENT',
       'NEWSPAPERS/MAGAZINES', 'MISCELLANEOUS MANUFACTURING INDUSTRIES',
       'FOOD CHAINS', 'PLASTIC PRODUCTS', 'INVESTMENT MANAGERS',
       'BUILDING OPERATORS', 'BUILDING PRODUCTS',
       'RETAIL: COMPUTER SOFTWARE & PERIPHERAL EQUIPMENT', 'PAPER',
       'DIVERSIFIED ELECTRONIC PRODUCTS', 'PACKAGED FOODS',
       'STEEL/IRON ORE', 'BOOKS', 'CONSUMER ELECTRONICS/APPLIANCES',
       'PACKAGE GOODS/COSMETICS', 'AUTO MANUFACTURING',
       'OPHTHALMIC GOODS', 'PRECISION INSTRUMENTS', 'MEAT/POULTRY/FISH',
       'ACCIDENT &HEALTH INSURANCE',
       'MINING & QUARRYING OF NONMETALLIC MINERALS (NO FUELS)',
       'POWER GENERATION', 'FLUID CONTROLS', 'OIL/GAS TRANSMISSION',
       'PAINTS/COATINGS', 'WHOLESALE DISTRIBUTORS',
       'CONSUMER: GREETING CARDS', 'ELECTRONICS DISTRIBUTION',
       'TOOLS/HARDWARE', 'TOBACCO',
       'GENERAL BLDG CONTRACTORS - NONRESIDENTIAL BLDGS'], dtype=object)

# clean up tickers from descriptions that are not in stocks table

In [ ]:
def cleanTickersInDescriptions(connection, tickers, descriptions):
    tickers_desc = descriptions['ticker'].unique()
    count = 0
    notpresent = 0
    for ticker in tickers_desc:
        if ticker in tickers:
            count = count + 1
        else:
            notpresent = notpresent + 1
            query = f"DELETE FROM descriptions WHERE ticker = '{ticker}';"
            connection.execute(query)
    message = f"Number of deleted tickers: {notpresent}<br>Number of matching tickers: {count}"
    return message
    #         connection.execute('SELECT * FROM train LIMIT 5').fetchall()
    #         connection.execute("DELETE FROM train WHERE wdate = '2010-03-12'")

# Plot example

In [ ]:
selectedtickers = [tickers[0],tickers[5]]
for selectedticker in selectedtickers:
    oneticker = pd.read_sql_query(f"SELECT * FROM stocks WHERE ticker = '{selectedticker}'",connection)
    xdata = [dt.datetime.strptime(d,'%Y-%m-%d').date() for d in oneticker['wdate']]
    ydata = oneticker['closev']
    plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%m/%d/%Y'))
    plt.gcf().autofmt_xdate()
    plt.plot(xdata,ydata,label = selectedticker)
    
plt.legend()
plt.show()
# ydata.tolist()

# Saving to SQLITE

In [11]:
Base = declarative_base()
database_path = "ltsp.sqlite"
enginelite = create_engine(f"sqlite:///{database_path}")
conlite = enginelite.connect()
# Base.metadata.drop_all(conlite)

In [12]:
class Descriptions(Base):
    __tablename__ = 'descriptions'
    ticker = Column(String(), primary_key=True)
    exchange = Column(String())
    cname = Column(String())
    sector = Column(String())
    industry = Column(String())

    def __init__(self, ticker,exchange,cname,sector,industry):
        self.ticker = ticker
        self.exchange = exchange
        self.cname = cname
        self.sector = sector
        self.industry = industry

class Stocks(Base):
    __tablename__ = 'stocks'
    ticker = Column(String(), primary_key=True)
    openv = Column(Float)
    closev = Column(Float)
    adj_close = Column(Float)
    low = Column(Float)
    high = Column(Float)
    volume = Column(Float)
    wdate = Column(String(10), primary_key=True)

    def __init__(self, ticker,openv,closev,adj_close,low,high,volume,wdate):
        self.ticker = ticker
        self.openv = openv
        self.closev = closev
        self.adj_close = adj_close
        self.low = low
        self.high = high
        self.volume = volume
        self.wdate = wdate

class Nasdaq(Base):
    __tablename__ = 'nasdaq'
    wdate = Column(String(10), primary_key=True)
    openv = Column(Float)
    high = Column(Float)
    low = Column(Float)
    closev = Column(Float)
    adj_close = Column(Float)
    volume = Column(Float)

    def __init__(self,wdate, openv,high,low,closev,adj_close,volume):
        self.wdate = wdate
        self.openv = openv
        self.high = high
        self.low = low
        self.closev = closev
        self.adj_close = adj_close
        self.volume = volume

class Snp500(Base):
    __tablename__ = 'snp500'
    wdate = Column(String(10), primary_key=True)
    openv = Column(Float)
    high = Column(Float)
    low = Column(Float)
    closev = Column(Float)
    adj_close = Column(Float)
    volume = Column(Float)

    def __init__(self,wdate, openv,high,low,closev,adj_close,volume):
        self.wdate = wdate
        self.openv = openv
        self.high = high
        self.low = low
        self.closev = closev
        self.adj_close = adj_close
        self.volume = volume

In [13]:
Base.metadata.create_all(conlite)
Base.metadata.tables # Check tables

immutabledict({'descriptions': Table('descriptions', MetaData(bind=None), Column('ticker', String(), table=<descriptions>, primary_key=True, nullable=False), Column('exchange', String(), table=<descriptions>), Column('cname', String(), table=<descriptions>), Column('sector', String(), table=<descriptions>), Column('industry', String(), table=<descriptions>), schema=None), 'stocks': Table('stocks', MetaData(bind=None), Column('ticker', String(), table=<stocks>, primary_key=True, nullable=False), Column('openv', Float(), table=<stocks>), Column('closev', Float(), table=<stocks>), Column('adj_close', Float(), table=<stocks>), Column('low', Float(), table=<stocks>), Column('high', Float(), table=<stocks>), Column('volume', Float(), table=<stocks>), Column('wdate', String(length=10), table=<stocks>, primary_key=True, nullable=False), schema=None), 'nasdaq': Table('nasdaq', MetaData(bind=None), Column('wdate', String(length=10), table=<nasdaq>, primary_key=True, nullable=False), Column('openv', Float(), table=<nasdaq>), Column('high', Float(), table=<nasdaq>), Column('low', Float(), table=<nasdaq>), Column('closev', Float(), table=<nasdaq>), Column('adj_close', Float(), table=<nasdaq>), Column('volume', Float(), table=<nasdaq>), schema=None), 'snp500': Table('snp500', MetaData(bind=None), Column('wdate', String(length=10), table=<snp500>, primary_key=True, nullable=False), Column('openv', Float(), table=<snp500>), Column('high', Float(), table=<snp500>), Column('low', Float(), table=<snp500>), Column('closev', Float(), table=<snp500>), Column('adj_close', Float(), table=<snp500>), Column('volume', Float(), table=<snp500>), schema=None)})

In [14]:
sessionlite = Session(bind=conlite)

# NASDAQ

In [15]:
# for i in range(int(nasdaq.describe().loc["count","closev"])):
for i in range(len(nasdaq)):
    wdatei = nasdaq["wdate"].iloc[i]
    openvi = nasdaq["openv"].iloc[i]
    highi = nasdaq["high"].iloc[i]
    lowi = nasdaq["low"].iloc[i]
    closevi = nasdaq["closev"].iloc[i]
    adj_closei = nasdaq["adj_close"].iloc[i]
    volumei = nasdaq["volume"].iloc[i]
    oneentry = Nasdaq(wdate = wdatei,openv = openvi,high=highi,low = lowi,closev = closevi,adj_close=adj_closei,volume=volumei)
    sessionlite.add(oneentry)

sessionlite.commit()

In [ ]:
# # for i in range(int(nasdaq.describe().loc["count","closev"])):
# for i in range(len(nasdaq)):
#     wdatei = nasdaq.loc[i:i,"wdate"].tolist()[0]
#     openvi = nasdaq.loc[i:i,"openv"].tolist()[0]
#     highi = nasdaq.loc[i:i,"high"].tolist()[0]
#     lowi = nasdaq.loc[i:i,"low"].tolist()[0]
#     closevi = nasdaq.loc[i:i,"closev"].tolist()[0]
#     adj_closei = nasdaq.loc[i:i,"adj_close"].tolist()[0]
#     volumei = nasdaq.loc[i:i,"volume"].tolist()[0]
#     oneentry = Nasdaq(wdate = wdatei,openv = openvi,high=highi,low = lowi,closev = closevi,adj_close=adj_closei,volume=volumei)
#     sessionlite.add(oneentry)

# sessionlite.commit()

In [16]:
nasdaqlite = pd.read_sql_query('SELECT * FROM nasdaq',conlite)
print(len(nasdaqlite))
nasdaqlite.head()

12314

,wdate,openv,high,low,closev,adj_close,volume
0,1971-02-05,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
1,1971-02-08,100.839996,100.839996,100.839996,100.839996,100.839996,0.0
2,1971-02-09,100.760002,100.760002,100.760002,100.760002,100.760002,0.0
3,1971-02-10,100.690002,100.690002,100.690002,100.690002,100.690002,0.0
4,1971-02-11,101.449997,101.449997,101.449997,101.449997,101.449997,0.0

In [ ]:
# sessionlite.query(Nasdaq).filter(Nasdaq.wdate == "1971-02-08").delete()
# sessionlite.commit()

# S&P 500

In [17]:
# for i in range(int(snp500.describe().loc["count","closev"])):
for i in range(len(snp500)):
    wdatei = snp500["wdate"].iloc[i]
    openvi = snp500["openv"].iloc[i]
    highi = snp500["high"].iloc[i]
    lowi = snp500["low"].iloc[i]
    closevi = snp500["closev"].iloc[i]
    adj_closei = snp500["adj_close"].iloc[i]
    volumei = snp500["volume"].iloc[i]
    oneentry = Snp500(wdate = wdatei,openv = openvi,high=highi,low = lowi,closev = closevi,adj_close=adj_closei,volume=volumei)
    sessionlite.add(oneentry)

sessionlite.commit()

In [18]:
snp500lite = pd.read_sql_query('SELECT * FROM snp500',conlite)
print(len(snp500lite))
snp500lite.head()

12592

,wdate,openv,high,low,closev,adj_close,volume
0,1970-01-02,92.059998,93.540001,91.790001,93.000000,93.000000,8050000.0
1,1970-01-05,93.000000,94.250000,92.529999,93.459999,93.459999,11490000.0
2,1970-01-06,93.459999,93.809998,92.129997,92.820000,92.820000,11460000.0
3,1970-01-07,92.820000,93.379997,91.930000,92.629997,92.629997,10010000.0
4,1970-01-08,92.629997,93.470001,91.989998,92.680000,92.680000,10670000.0

In [ ]:
# sessionlite.query(Snp500).filter(Snp500.wdate == "1970-01-07").delete()
# sessionlite.commit()

# Descriptions

In [19]:
print(len(desc))
desc.head()

5685

,ticker,exchange,cname,sector,industry
0,PIH,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
1,PIHPP,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
2,TURN,NASDAQ,180 DEGREE CAPITAL CORP.,FINANCE,FINANCE/INVESTORS SERVICES
3,FLWS,NASDAQ,"1-800 FLOWERS.COM, INC.",CONSUMER SERVICES,OTHER SPECIALTY STORES
4,FCCY,NASDAQ,1ST CONSTITUTION BANCORP (NJ),FINANCE,SAVINGS INSTITUTIONS

In [20]:
for i in range(len(desc)):
    tickeri = desc["ticker"].iloc[i]
    exchangei = desc["exchange"].iloc[i]
    cnamei = desc["cname"].iloc[i]
    sectori = desc["sector"].iloc[i]
    industryi = desc["industry"].iloc[i]
    oneentry = Descriptions(ticker=tickeri,exchange=exchangei,cname=cnamei,sector=sectori,industry=industryi)
    sessionlite.add(oneentry)

sessionlite.commit()

In [21]:
desclite = pd.read_sql_query('SELECT * FROM descriptions',conlite)
print(len(desclite))
tickers = desclite['ticker'].unique()
print(f"Number of tickers: {len(tickers)}")
desclite.head()

5685
Number of tickers: 5685

,ticker,exchange,cname,sector,industry
0,PIH,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
1,PIHPP,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
2,TURN,NASDAQ,180 DEGREE CAPITAL CORP.,FINANCE,FINANCE/INVESTORS SERVICES
3,FLWS,NASDAQ,"1-800 FLOWERS.COM, INC.",CONSUMER SERVICES,OTHER SPECIALTY STORES
4,FCCY,NASDAQ,1ST CONSTITUTION BANCORP (NJ),FINANCE,SAVINGS INSTITUTIONS

# Stocks

In [22]:
nstocks = 100
istock = 0
itickers = []
while (istock < nstocks):
    j = random.randint(0,len(tickers))
    if j in itickers:
        continue
    
    itickers.append(j)
    selectedticker = tickers[j]
    oneticker = pd.read_sql_query(f"SELECT * FROM stocks WHERE ticker = '{selectedticker}'",connection)
    startdatestr = oneticker["wdate"].iloc[0]
    enddatestr = oneticker["wdate"].iloc[-1]
    timedelta = dt.datetime.strptime(enddatestr, '%Y-%m-%d') - dt.datetime.strptime(startdatestr, '%Y-%m-%d')
    if timedelta > dt.timedelta(days=3650):
        for i in range(len(oneticker)):
            tickeri = oneticker["ticker"].iloc[i]
            openvi = oneticker["openv"].iloc[i]
            closevi = oneticker["closev"].iloc[i]
            adj_closei = oneticker["adj_close"].iloc[i]
            lowi = oneticker["low"].iloc[i]
            highi = oneticker["high"].iloc[i]
            volumei = oneticker["volume"].iloc[i]
            wdatei = oneticker["wdate"].iloc[i]
            oneentry = Stocks(ticker=tickeri,openv = openvi,closev = closevi,adj_close=adj_closei,low = lowi,high=highi,volume=volumei,wdate = wdatei)
            sessionlite.add(oneentry)
        sessionlite.commit()
        istock = istock + 1

In [23]:
stockslite = pd.read_sql_query('SELECT * FROM stocks',conlite)
print(len(stockslite))
tickerslite = stockslite['ticker'].unique()
print(f"Number of tickers: {len(tickerslite)}")
stockslite.head()

512618
Number of tickers: 100

,ticker,openv,closev,adj_close,low,high,volume,wdate
0,BWP,18.980000,18.870001,9.580551,18.850000,19.000000,736900.0,2005-11-10
1,BWP,18.870001,19.010000,9.651632,18.870001,19.139999,389400.0,2005-11-11
2,BWP,19.070000,19.139999,9.717631,18.990000,19.160000,187400.0,2005-11-14
3,BWP,19.180000,19.100000,9.697323,19.100000,19.200001,319200.0,2005-11-15
4,BWP,19.180000,18.920000,9.605937,18.889999,19.230000,566800.0,2005-11-16

In [ ]:
import datetime as dt

datetimestr = '2016-01-01'
# convert string to datetimeobj
datetimeobj = dt.datetime.strptime(datetimestr, '%Y-%m-%d')
# convert datetimeobj to string
datetimestr = dt.datetime.strftime(datetimeobj,'%m-%d') # it will save only month and date

datetimeobj = dt.datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
datetimeobj = dt.datetime.strptime('2018-06-29 08:15:27.243860', '%Y-%m-%d %H:%M:%S.%f')

datetimeobj = datetimeobj.replace(datetimeobj.year - 1)
datetimeobj = datetimeobj - dt.timedelta(days = 365)
datetimeobj = dt.date(datetimeobj.year + 1, datetimeobj.month, datetimeobj.day)